<div class="containerHome">
    {% extends "./base.html" %} 
    {% block title %} Vehiculo {% endblock %}
    {% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endblock %}
    
    
    {% block body %}
    <div class="Logo">
        <img class="mb-4" src="{{ url_for('static', filename = 'img/LogoMono.png') }}" alt="">
    </div>
    <div class="menus">
        <div class="Selecion">
            <a href="/cliente">Crear cliente</a>
            <a href="">Crear vehiculo</a>
            <a href="/servicios">Servicios</a>
            <a href="#">Modificaciones</a>
            <a href="#">salir</a>
        </div>
        
        <div class="formularios">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <br>
                {% for message in messages %}
                    {% if "Grabado con Exito" in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% else %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {% endif %}
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    
                {% endfor %}
            {% endif %}
        {% endwith %}
            <form class="" action="/vehiculo" method = "POST">
                <input type = "hidden" name ="csrf_token" value ="{{ csrf_token() }}">
                <div class="Centrar">
                    <input class="form-control" type="number" name= "cedula" placeholder="Cedula Cliente" aria-label="default input example" required>
                </div>
                <div class="Centrar">
                    <input class="form-control" type="text" name="marca" placeholder="Marca" aria-label="default input example" required>
                    <select class="form-select" name="tipo_vehiculo" aria-label="Default select example" required>
                        <option selected>Tipo de Vehiculo</option>
                        <option value="1">Sedán</option>
                        <option value="2">Hatchback</option>
                        <option value="3">SUV</option>
                        <option value="4">Pickup</option>
                        <option value="5">Convertible</option>
                        <option value="6">Coupé</option>
                        <option value="7">Minivan</option>
                        <option value="8">Van</option>
                        <option value="9">Motocicleta</option>
                        <option value="10">Camion</option>
                        <option value="11">Autobús</option>
                        <option value="12">Tractor</option>
                        <option value="13">Trailler</option>
                      </select>
                </div>
                <div class="Centrar">
                    <input class="form-control" type="text" name="modelo" placeholder="Modelo" aria-label="default input example" required>
                    <input class="form-control" type="number" name= "año" placeholder="Año" aria-label="default input example" required>
                </div>
                <div class="Centrar">
                    <input class="form-control" type="text" name= "placa" placeholder="Placa" aria-label="default input example" required>
                    <input class="form-control" type="text" name="color" placeholder="Color" aria-label="default input example" required>
                </div>
                
                <div>
                    <button type="submit" class="btn btn-success">Grabar</button>
                </div>
            </form>
        </div>
        
    </div>
    
    {% endblock %}
    
    </div>